body {
  background-color: #ffffff !important;
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*Styling "container" div getting embedded in boilerplate.ejs file*/
.container {
  flex: 1;
}

/* Styling Navbar component -> "navbar.ejs"*/
.navbar {
  height: 5rem;
  background-color: #ffffff;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: black !important;
}

/* Styling Footer component -> "navbar.ejs"*/
.f-info {
  text-align: center;
  height: 6rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

/* Styling Card component -> "index.ejs"*/
.listing-card {
  /*Added new class 'listing-card' to div 'card' in page 'index.ejs' & 'show.ejs' */
  background-color: #ffffff !important;
  border: none !important;
  margin-bottom: 1rem;
}

.card-img-top {
  border-radius: 1rem;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.listing-link {
  text-decoration: none;
}

/* Giving effect to card */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.3;
  background-color: white;
}

/* Styling button component of file new.ejs */
.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Styling button component of file edit.ejs */
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Show Page */
.show-img {
  height: 30vh;
}

.btns {
  display: flex;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}

/* Edit Page */
.edit-img {
  height: 270px;
  width: 320px;
}

/* Styling for Map */
#map {
  height: 300px;
  width: 85vh;
}

/* Styling for index.ejs page */
#filters {
  display: flex;
  flex-wrap: wrap;
}

.filter {
  text-align: center;
  margin-right: 2rem;
  margin-top: 1.5rem;
  opacity: 0.8;
}

.filter p {
  font-size: 0.8rem;
}
